<h1>{{ title }}</h1>
<div style="position: relative" class="todo__container">
  <ul *ngFor="let item of todo">
    <li style="font-size: larger">
      {{ item.value
      }}<button
        mat-icon-button
        style="position: absolute; right: 20px;"
        (click)="removeTask(item.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </li>
  </ul>
  <button
    (click)="openDialog()"
    style="position: absolute; right: 0; bottom: 0"
    mat-fab
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
